

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Superheros</title>
  </head>
  <body>

    <form class="" action="/team" method="post">
      <h1>Create a Team and Heroes!</h1>
      <input type="text" name="team[name]" value="">
      <input type="text" name="team[motto]" value="">
      <input id = "member1_name" type="text" name="team[heroes][][name]" value="">
      <input id = "member1_power" type="text" name="team[heroes][][motto]" value="">
      <input id = "member1_bio" type="text" name="team[heroes][][biography]" value="">
      <input id = "member2_name" type="text" name="team[heroes][][name]" value="">
      <input id = "member2_power" type="text" name="team[heroes][][motto]" value="">
      <input id = "member2_bio" type="text" name="team[heroes][][biography]" value="">
      <input id = "member3_name" type="text" name="team[heroes][][name]" value="">
      <input id = "member3_power" type="text" name="team[heroes][][motto]" value="">
      <input id = "member3_bio" type="text" name="team[heroes][][biography]" value="">
      <input type="submit" name="" value="Submit">
    </form>

  </body>
</html>